
<div class="recordthings">
	<md-grid-list cols="2" rowHeight="80px">

	<md-grid-tile>
		<label class="floatyboy" [mdTooltip]="record.description">
			{{record.name}}
		</label>
	</md-grid-tile>

	<md-grid-tile>
	</md-grid-tile>

	<md-grid-tile>
		<md-input-container class="floatyblockright" id="input">
			<input mdInput [(ngModel)]="record.value"/>
		</md-input-container>
	</md-grid-tile>

	<md-grid-tile>
	<md-slider [min]="record.min" [max]="record.max" [step]="0.5" [value]="record.value" thumbLabel tickInterval="1"></md-slider>
	</md-grid-tile>

	</md-grid-list>


</div>

