#input {
    width: 5em;
}

label{
	font-size: 50px;
}

app-record-line{
	padding: 44px;
}

._ngcontent-c3{
	margin: 30px;
}

.mat-input-element{
	font-size: 60px;
	color: salmon;
	width: 200px;
}

.floatyblockright{
	display: block;
	float: right;
}
.recordthings{
	margin: 40px;
	margin-top: 80px;
}

md-slider{
	width: 1000px;
}