<app-navbar></app-navbar>
<app-intro-text></app-intro-text>
<app-record-group [recordLines]="recordLines" [age]="age" [gender]="gender"></app-record-group>

<div class="specify-container">
  <app-select-dropdown (ageEmitter)="ageChanged($event)" (genderEmitter)="genderChanged($event)"></app-select-dropdown>
  <button class="search-button mat-raised-button" md-button (click)="onClick()">Evaluate</button>
</div>

<div *ngIf="showResources">
  <app-video></app-video>
  <app-resources></app-resources>
</div>