<md-grid-list cols="3" rowHeight="500px">
  <md-grid-tile>
      <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Dietary Restrictions</md-card-title>
    <md-card-subtitle>High Cholestrol Mitigation</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/resource-images/plate.jpg">
  <md-card-content>
    <p>
      American Heart Association: "From a dietary standpoint, the best way to lower your cholesterol is reduce saturated fat and trans fat..."
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>VISIT</button>
    <button md-button>MORE INFO</button>
  </md-card-actions>
</md-card>
  </md-grid-tile>

  <md-grid-tile>
      <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="diabetes-header-image"></div>
    <md-card-title>Answers from the Experts</md-card-title>
    <md-card-subtitle>Diabetes Management</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/resource-images/diabetes.jpg">
  <md-card-content>
    <p>
      Medical experts Lori Wolf and Lori Mosca answer frequently asked questions about diabetes.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>VISIT</button>
    <button md-button>MORE INFO</button>
  </md-card-actions>
</md-card>
  </md-grid-tile>

      <md-grid-tile>
      <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="trigly-header-image"></div>
    <md-card-title>Triglycerides</md-card-title>
    <md-card-subtitle>Why do they matter?</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/resource-images/triglycerides.jpg">
  <md-card-content>
    <p>
      Triglycerides are an important measure of heart health. Here's why triglycerides matter — and what to do if your triglycerides are too high.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>VISIT</button>
    <button md-button>MORE INFO</button>
  </md-card-actions>
</md-card>
  </md-grid-tile>

</md-grid-list>