<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Dietary Restrictions</md-card-title>
    <md-card-subtitle>High Cholestrol Mitigation</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/resource-images/plate.jpg">
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nibh vulputate, cursus ex nec,
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>VISIT</button>
    <button md-button>MORE INFO</button>
  </md-card-actions>
</md-card>